body {
    font-family: "Bebas Neue";
    margin: 0px;
}

/* Nav */

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;

}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-wrapper > .right-side > div {
    color: rgb(2, 21, 219);
    font-size: 1.5em;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px soild transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid rgb(187, 255, 255);
}

.nav-link-wrapper a:hover {
    color: rgb(2, 21, 219);
}

.active-nav-link {
    border-bottom :1px solid rgb(187, 255, 255);
}

.active-nav-link a {
    color: rgb(2, 21, 219) !important
}

/* Games Grid */

.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 70%;
    margin-bottom: 20px;
}

.img-text-wrapper .mikotitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .mikotitle {
    font-weight: 600;
    color: rgb(40, 50, 120);
}

.img-text-wrapper .sivtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .sivtitle {
    font-weight: 600;
    color: rgb(102, 40, 40);
}

.img-text-wrapper .daititle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .daititle {
    font-weight: 600;
    color: rgb(40, 120, 40);
}


.img-darken {
    transition: 1s;
    filter: brightness(10%);
}